<!DOCTYPE html>
<html lang="">

<head>
  <title> JPEG Image File Metadata </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<h2>JPEG Image File Metadata </h2>

<p>Select the JPEG image from your local machine that needs to be analyzed.
    The scanner will produce the available metadata and any errors the image may have while being parsed.
    Selecting submit confirms your selected JPEG image file and will initiate the scanning.</p>
<form action="/uploadfile/" enctype="multipart/form-data" method="post" onsubmit="myFunction()" id="submit">
    <input name="my_file" type="file">
    <input type="submit">
</form>
</body>
</html>